// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message {
  display: block;
  clear: both;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 10px;
  overflow: hidden;
}

.speaker_display {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0 10px 10px 0;
}

.speaker_display a {
  color: cadetblue;
  text-decoration: none;
}

.user_message {
  color: gray;
}